@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');

/* variables */
:root {
    /* -- colors -- */
    --dark-blue: #1665a4;
    --light-blue: #2299d6;
    --grey:#6a6a6e;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif !important;
    height: 100%;
}

/* menu y cabezote*/
nav.menu {
    background-color: var(--dark-blue) !important;
    display: flex;
    width: 100%;
    color: white !important;
    font-size: 18px;
    font-weight: 600;
    z-index: 4;
    padding: 0;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
}

header ul li {   
    list-style: none;
    padding: 0;
  
}

header li a {
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    text-shadow: 1px 1px 2px var(--grey);
}

header a:hover{
    background-color: var(--light-blue);
    color: white;
    text-decoration: none;
}

.nav-link {
    padding: 18px !important;
    margin-top: 0;
}


/* top image and texts*/

.top-section {

    margin-right: 0;
    margin-left: 0;    
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 600;  
    position: relative;
}

.desc-top-section {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
}

.img-full {
    max-width: 100%;
    height: 100%;
}

.welcome {
    padding-top: 170px;
    text-shadow: 1px 1px 2px var(--grey);
}

.welcome-text {
    text-align: center;

    color: var(--dark-blue);
    text-decoration: none;
    font-size: 21px;
    background-color: white;
}

  
.welcome-description {
    color: var(--dark-blue);
    font-size: 20px;
}


/* about me info*/
.about-me {
    margin-top: 0;
    background-color: lightgrey;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about-me-info {
    padding-right: 40px;
    padding-left: 40px;
}

.about-me-text {
    padding-right: 80px;
}

.about-me-pic {
    text-align: right;
}

.profile-pic {
    width: 210px;
    height: 210px;
}

h2 {
    padding-top: 10px;
    color: var(--grey);
    font-size: 20px;
}

p {
    color: var(--grey);
    font-size: 16px;
}

/* specific work*/

.selection-work {
    margin-top: 40px;
}

.btn-primary {
    border-radius: 5px;
    background-color: var(--light-blue) !important;
}

h3 {
    padding-top: 10px;
    color: var(--grey);
    font-size: 16px;
}


/* contact info*/
.contact-me {
    margin-top: 25px;
    background-color: var(--dark-blue);
    padding-top: 45px;
    color: white;
    margin-bottom: 0;
    margin-right: 0 !important;
    padding-bottom: 40px; 
}

.contact-me-text {
    color: white;

}

button.btn-primary {
    background-color: var(--light-blue)!important;
}

button.btn-primary:hover {
    background-color: var(--dark-blue)!important;
}

i.fa-github, .fa-linkedin, .fa-facebook-square {
    color: white;
    font-size: 40px;
}


/* footer*/
footer {
    background-color: lightgrey;
    margin-top: 0;
    color: var(--grey);
    height: 60px;
    margin-bottom: 0;
}


/*para pantalla de celulares*/
 @media (max-width: 576px) {


    .profession{
        font-size: 32px;
        margin-bottom: 150px;
        
    }
    .container-profession {
        width: auto;
        height: auto;
        margin-top: 210px;
    }


    .header ul {
        list-style: none;
        display: inline-block;
        margin: 0;
    }
    .top-section {
        font-weight: 400;
        margin-top: 220px;  
    }
    .welcome {
        font-size: 15px;
        padding-top: 30%;
    }

    .welcome-text  {
        display: none;
    }

    .about-me {
        padding-top: 50px;
    }

    .about-me-pic {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 25px;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .about-me-text {
        padding-right: 0px;
    }

    .selection-work {
        margin-top: 20px;
        font-size: 10px;
    }

    .selection-work-text {
        font-size: 17px;
    }

    .work-icons {
        margin-bottom: 0;
    }

    .contact-group {
        margin-top: 5px;
        padding-bottom: 35px;
    }

    .icons-group {
        margin-bottom: 30px;
    }

    .work-cont {
        width: 60%;
    }


    .contact-me {
        margin-top: 0;
    }
    .my-job {
        font-size:21px;
    }
    .my-job-cont {
        margin-top: 0;
    }

    i.fa-github, .fa-linkedin, .fa-facebook-square {
        font-size: 20px;
    }



 }

 /*para pantalla de ipad*/
 @media (max-width: 768px) {


    .top-section {
        margin-top: 190px; 
    }

    .welcome {
        font-size: 28px;
        padding-top: 90px;
    }

    .welcome-description {
        font-size: 12px;
    }

    .about-me-text {
        padding-right: 0px;
    }

    .work-cont {
        width: 75%;
    }

    .icono {
        width: 80px;
    }

    i.fa-github, .fa-linkedin, .fa-facebook-square {
        font-size: 25px;
    }

    .contact-text {
        font-size: 21px;
    }





/* clases de la pag de web dev projects (el css real se llama pages, no sé si moverlo) */

.web-projects {
    margin-top: 100px;
    padding-top: 30px;
    display: inline-flex;
    padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}

.project-pic {
    width: 280px;
    height: 150px;
}

.project-container {
    width: 300px;
    padding: 20px;
}

.card {
    width: 300px;
    padding: 20px;
}

.card-title {
    color: var(--grey);
    font-size: 18px;
}

.card-text {
    color: var(--grey);
    font-size: 14px;
}
}